* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

header {
    background-color: #ccc;
}

header h2 {
    font-size: 3rem;
    color: #333;
    padding: 3rem;
    margin: 0;
}

.wrapper {
    padding: 0 2rem;
}

.timer-wrapper {
    font-size: 5.6rem;
    padding: 1.6rem;
    text-align: center;
}

.timer-wrapper #status {
    font-size: 2.8rem;
}

.btn-wrapper {
    text-align: center;
    padding: 1.6rem;
    max-width: 90rem;
    margin: 0 auto;
}

.btn-wrapper button {
    height: 6rem;
    font-size: 2rem;
    cursor: pointer;
    display: block;
    width: 100%;
}

.btn-wrapper .btn-select{
    color: #fff;
    height: 4rem;
    border: 1px solid #3949AB
}

.btn-wrapper a {
    font-size: 3.2rem;
    color: inherit;
    text-decoration: none;
}

.btn-wrapper a:hover {
    text-decoration: underline;
}

.input-wrapper {
    padding: 1.6rem;
    padding-top: 0;
    max-width: 90rem;
    margin:0 auto;
    text-align: center;
}

.input-wrapper .input {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1.6rem;
   
}

.input-wrapper input {
    font-size: 1.8rem;
    padding: 0.2rem;
}

.input-wrapper input[type="checkbox"]{
    transform: scale(1.5);
    margin-right: 1rem;
}

.input-wrapper label {
    padding: 0.4rem;
    font-size: 2.4rem;
}

button:focus {
    outline: none;
}

.hidden {
    visibility: hidden;
}

.btn-select{
    background-color: #039BE5;
}

.selected, .btn-select:hover{
    background-color: #1976D2;
}

.grey {
    background-color: #B0BEC5;
}

.grey:hover {
    background-color: #90A4AE;
}

.active {
    background-color: #00E676;
}

.paused {
    background-color: #FF1744;
}

.active:hover {
    background-color: #00C853;
}

.paused:hover {
    background-color: #D50000;
}

.blue {
    background-color: #1E88E5;
}

.blue:hover {
    background-color: #1976D2;
}

@media only screen and (min-width:600px) {
    .btn-wrapper {
        display: flex;
        justify-content: center;
    }
    .btn-wrapper button {
        width: 13rem;
        margin: 0 1rem;
    }
    .btn-wrapper .btn-select{
        width: 100%;
        margin: 0;
    }
    .input-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-wrapper .input {
        flex: 1 1 auto;
        min-width: 10rem;
    }
}